body {
  
  margin: 0; /* Ensure no white space around */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}



#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
  scrollbar-width: auto;
}




* {
  font-family: "Plaster", sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  
}


.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* padding: 3px; */
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: 'green';
  margin: 3rem; 
  }

.submit {
  margin-top:'10rem' ;
    color: red;
    background-color: aquamarine;
  cursor: pointer;
}

.submit:hover {
  background-color: blue;
}



button {
  -webkit-appearance: button;
  background: var(--accent);
  color: var(--background);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button path {
  fill: var(--background);
}